/*Собственные стили и украшения*/

/*Стили для первого операнда*/
#param1 {

}

/*Стили для второго операнда*/
#param2 {

}

/*Стили для выбора операции*/
#operation {
    /*TODO: изменение положения margin-left;*/
	margin-left: 34%
}